body {
  background-color: #033023;
}

.Navbar {
  position: fixed;   /* stick to viewport so it follows as the user scrolls */
  top: 0;
  left: 0;
  right: 0;

  background-color: rgb(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);

  border-bottom: 2px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar h1, p {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Links Container */
.Navbar-links {
  display: flex;
  gap: 25px;
}

/* Links in the navbar */
.NavbarText {
  text-decoration: none;
  color: #fff;
  margin-right: 50px;

  font-size: 1.3rem;
  font-weight: 700;
  transition: transform 0.2s ease, color 0.2s ease-in-out;
}

.NavbarText:hover {
  color: #c8c8c8;
  transform: translateY(-4px);
}

.NavbarText:active {
  color: #767676;
}

.App-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.App-body {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.InputSection {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 20px #000;
  filter: drop-shadow(0 0 0.75rem black);
  margin-top: -15px;
}

.InputField {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: transform 0.2s ease;
}

.InputField label {
  color: #53c3e0;
  font-weight: 900;
}

.InputField p {
  color: #000;
}

.InputField input, .InputField textarea {
  border-radius: 0;
  border: 2px solid #53c3e0;
  min-width: 400px;
  min-height: 50px;
  font-size: 20px;
  padding-left: 10px;

  transition: background-color 0.7s ease, transform 0.2s ease;
}

.InputField input:hover, .InputField textarea:hover {
  transform: translateY(-4px);
}

.InputField input:focus, .InputField textarea:focus {
  border-color: #007bff;
  background-color: #b8deff;
  outline: none;
  transform: translateY(-4px);
}

button {
  background-color: #53c3e0;
  border-radius: 5px;
  border: 0px;

  cursor: pointer;

  font-size: 20px;
  padding: 15px;

  transition: transform 0.2s ease, background-color 0.2s ease;
}

button:hover {
  background-color: #3f95ab;
  transform: translateY(-4px);
}

button:active {
  background-color: #2c6f80;
  transform: translateY(0px);
}